# Core settings
prefix   = "l2"
location = "centralus"

# App Service plan SKU (B1, S1, P1v3, ...)
app_service_sku_name = "B1"

# Private networking settings for Web App
vnet_address_space           = "10.20.0.0/16"
private_endpoint_subnet_cidr = "10.20.1.0/24"
bastion_subnet_cidr          = "10.20.2.0/26"
jumpbox_subnet_cidr          = "10.20.3.0/24"

# Jumpbox settings (used with Azure Bastion to test private web app access)
jumpbox_vm_size              = "Standard_B1ms"
jumpbox_image_sku            = "2022-datacenter"
jumpbox_admin_username       = "azureuser"
jumpbox_admin_password       = "ChangeMe-StrongPassword-123!"

# Set to false for private-only access through private endpoint + private DNS.
webapp_public_access_enabled = false
