prefix               = "l3"
location             = "centralus"
app_service_sku_name = "B1"
python_version       = "3.11"
app_name_suffix      = "pyhello"
sql_admin_username   = "sqladminuser"
sql_database_name    = "motddb"
sql_entra_admin_login     = "your-upn-or-group-name"
sql_entra_admin_object_id = "00000000-0000-0000-0000-000000000000"
